@media only screen and (min-width:200px) and (max-width:575px){
    header{
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
        padding: 10px;
    }
   .headerleft{
    justify-content: center;
   }
.logo{
    padding: 10px;
}
.headeraddress{
    padding: 10px;

}
.headeraddress p{
    font-size: 12px;

}
.headeraddress h3{
    font-size: 15px;
}
.searchbox button{
    padding: 10px;
}
.headerbtn{
    position: fixed;
    width: 100%;
    margin-right: 0px;
    justify-content: center;
    bottom: 0px;
    background-color: white;
}
.bannersection{
    display: none;
}
.orderbanner{
    flex-direction: column;
    padding: 10px;
}
.categoryitems{
    flex-basis: 25%;
}
footer{
    padding-top: 0px;
    
}
.footermidrow1{
    padding: 10px;
    flex-direction: column;
}
}