*{
 margin: 0px;
 padding: 0px;
 font-family: sans-serif;
 box-sizing: border-box;
 text-decoration: none 
}
header{
  display: flex;
  align-items: center;
  gap: 40px;
  border-top:1px solid #ccc ;
  border-bottom:1px solid #ccc;
}
.headerleft{
  display: flex;
  align-items: center;

}
.logo{
  padding: 24px 30px;
  border-right: 1px solid #ccc;

}
.headeraddress{
  padding: 20px 30px;
}
.headeraddress h3{
  font-size: 15px;
  margin-bottom: 6px;
}
.headeraddress p{
  font-size: 14px;
}
.searchbox{
  flex-grow: 1;
  background-color: #f8f8f8;
  display: flex;
  border-radius: 15px;
  border: 1px solid #f4f4f4;
}
.searchbox button{
  padding: 15px;
  border: none;
  background-color: transparent;
}
.searchbox input{
  flex-grow: 1;
  border: none;
  background-color: transparent;
}
.searchbox input:focus {
  outline: none;
}
.headerbtn{
  display: flex;
  gap: 40px;
  margin-right: 40px;
}
.headerbtn button{
  font-size: 16px;
  padding: 15px;
  background-color: transparent;
  border: none;
}
.headerbtn button:hover{
  opacity: 0.8;
}

.headerbtn button:last-child{
  color: white;
  border-radius: 5px;
  background-color: rgb(12, 131, 31);
  font-weight: bold;
}
.bannersection{
  margin: auto;
  max-width: 1280px;

}
.bannersection img{
  width: 100%;
}
.orderbanner{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  max-width: 1280px;
  margin: auto;
}
.orderbanneritems{
  flex-basis: 25%;
  margin: 10px;
  flex: 1;
}
.orderbanneritems img{
  width: 100%;
  border-radius: 12px;
  cursor:pointer;
  box-shadow: 0 4px 8px;
}
.categorysection{
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.categoryitems{
  flex-basis: 10%;
}
.categoryitems img{
  width: 100%;
}
.productrow{
  width: 100%;
  display: flex;
  margin: 30px 0px;

}
.productitems{
  flex-basis: 15%;
  border: 1px solid#ccc;
}
.productimg{
  text-align: center;
  padding: 15px;

}
.productimg{
  display: block;
  text-align: left;
  font-size: 12px;
}
footer{
  padding: 40px 0px 0px 0px;
}
 .footermid{ max-width: 1280px;
  margin: auto;
  
}
.footermidrow1{
  width: 100%;
  display: flex;
  gap: 40px;
}
.footermidrow1left{
  flex-basis: 30%;
}
.footermidrow1right{
  flex-basis: 70%;
}
.footermidrow1left h3{
  margin-bottom: 20px;
}
.usefullink{
  display: flex;
}
.usefullink ul{
  flex-basis: 33%;
  list-style: none;
}
.usefullink ul li a{
  font-size: 14px;
  margin-bottom: 1opx;
  display: block;
  color: rgb(102,102,102);
}
.Cateroriesheadingrow{
  display: flex;
  align-items: center;
}
.Cateroriesheadingrow h3{
  margin-bottom:20px;

}